$footer_navbar_background: #111;
$right_slant_background: #374375;
$left_slant_background: #3e508c;
$about_work_slant_background: #3a3e52;
$scripts_skills_slant_background: #2e3141;
$button_links_color: #15596e;
$button_links_color_hover: #0C3542;
$font_and_border_color: #999;
$font_color_light: #fff;