$baseColor1: #111;
$baseColor2: #003D5B;
$baseColor3: #00D6D6;
$baseColor4: #2bb3dd;

$backgroundFooterNavbar: $baseColor1;
$colorBorderActive: $baseColor2;
$backgroundAbout: $baseColor4;
$backgroundEduPort: $baseColor3;