@charset "UTF-8";
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
body {
  position: relative; }

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  font-weight: 300; }
  @media (max-width: 767px) {
    h2 {
      font-size: 38px; } }
  @media (max-width: 575px) {
    h2 {
      font-size: 30px; } }

h3 {
  font-family: 'Roboto', sans-serif;
  margin-top: 0px;
  font-weight: 100; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 100; }

.well, .jumbotron {
  background: none;
  border: none;
  box-shadow: none; }

.hide {
  display: none; }

.show-more {
  color: #15596e;
  cursor: pointer; }
  .show-more:hover {
    color: #0C3542; }

.body-page {
  padding: 100px 0; }

.avatar {
  background: url("/app/images/avatar.jpg");
  background-size: cover;
  margin: 0 auto;
  height: 260px;
  width: 260px;
  border-radius: 50%;
  margin-top: 15px; }

#Container {
  width: 100%;
  height: 693px;
  position: relative;
  overflow: hidden; }

#Container video {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  z-index: -100; }

.wrapper {
  margin: 20px auto;
  position: relative; }

.card video {
  width: 100%; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 98%;
  background: rgba(0, 0, 0, 0.2); }
  @media (max-width: 767px) {
    .overlay {
      height: 97%; } }

.overlay-title {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  font-size: 20px; }

.overlay .icon span {
  display: none;
  position: absolute;
  top: 45%;
  left: 47%;
  margin-top: -45px;
  margin-left: -45px;
  width: 90px;
  height: 90px;
  cursor: pointer; }

.overlay:hover {
  background: rgba(0, 0, 0, 0.4); }

.overlay:hover .icon span {
  display: block; }

.glyphicon-play-circle {
  font-size: 120px; }

.active-btn-portfolio {
  background-color: #0C3542 !important;
  border-color: white;
  color: white !important; }
  .active-btn-portfolio:hover {
    border-color: white; }

.icon-mobile {
  font-size: 18px;
  margin-left: -5px; }

.glyphicon-envelope {
  padding-right: 5px; }

.navbar-toggle {
  width: 100%;
  margin-right: 0;
  color: white;
  font-size: 19px; }

.nav-pills li a:hover {
  background-color: #333;
  border-radius: 0;
  transition: background-color 0.5s; }

.nav-pills li.active a, .nav-pills li.active a:focus, .nav-pills li.active a:hover {
  background-color: #111;
  border-radius: 0; }

.business-header {
  height: 693px;
  width: auto; }
  .business-header h1 {
    color: white;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.9); }
  .business-header p {
    font-family: 'Courgette', cursive;
    color: white; }

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  min-height: 40px; }
  .navbar a {
    font-weight: 100;
    color: white;
    font-size: 18px; }

.bg-about {
  background-image: url("../images/sky.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 0;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
  .bg-about .bg-front-about {
    background: linear-gradient(0deg, rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.6));
    padding: 100px 0;
    margin: 0; }
  .bg-about .example-image {
    margin-bottom: 20px; }
  .bg-about .about, .bg-about .circle {
    position: relative;
    border-bottom: 1px solid grey;
    margin-bottom: 50px; }
    .bg-about .about::after, .bg-about .circle::after {
      content: '•';
      position: absolute;
      top: 58px;
      left: 50%;
      font-size: 60px;
      color: grey; }
      @media (max-width: 767px) {
        .bg-about .about::after, .bg-about .circle::after {
          top: 45px;
          left: 47%; } }
      @media (max-width: 575px) {
        .bg-about .about::after, .bg-about .circle::after {
          top: 32px; } }
    .bg-about .about h2, .bg-about .circle h2 {
      margin-bottom: 10px; }
    @media (max-width: 767px) {
      .bg-about .about p, .bg-about .about span, .bg-about .circle p, .bg-about .circle span {
        font-size: 18px; } }
    @media (max-width: 575px) {
      .bg-about .about p, .bg-about .about span, .bg-about .circle p, .bg-about .circle span {
        font-size: 14px; } }
  .bg-about .circle {
    padding-bottom: 15px; }
    .bg-about .circle::after {
      top: 30px; }
      @media (max-width: 767px) {
        .bg-about .circle::after {
          top: 25px; } }
      @media (max-width: 575px) {
        .bg-about .circle::after {
          top: 16px; } }
  .bg-about h2 {
    margin-bottom: 50px; }
  .bg-about span {
    font-size: 18px;
    color: white;
    font-weight: 100; }

.bg-work, .bg-skills, .bg-scripts {
  background-color: #f5f5f5; }
  .bg-work .pie_progress, .bg-skills .pie_progress, .bg-scripts .pie_progress {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 25px; }
  .bg-work .pie_progress__number, .bg-skills .pie_progress__number, .bg-scripts .pie_progress__number {
    font-size: 26px; }
  .bg-work .pie_progress__label, .bg-skills .pie_progress__label, .bg-scripts .pie_progress__label {
    margin-top: 20px; }
  .bg-work p, .bg-skills p, .bg-scripts p {
    font-size: 24px;
    color: #000; }

.bg-education {
  background-image: url("../images/penguins.jpg");
  background-attachment: fixed;
  background-size: 100% auto;
  background-repeat: repeat;
  background-position: center;
  padding: 0; }
  @media (max-width: 1199px) {
    .bg-education {
      background-size: auto 100%; } }
  .bg-education .bg-front-about {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
    padding: 100px 0;
    margin: 0; }
  .bg-education h2 {
    margin-bottom: 50px; }
  .bg-education p {
    font-size: 18px;
    font-weight: 300; }
    @media (max-width: 767px) {
      .bg-education p {
        font-size: 14px; } }
  .bg-education h3 {
    font-weight: 300; }
    @media (max-width: 767px) {
      .bg-education h3 {
        font-size: 18px; } }

.bg-skills h3 {
  font-weight: 400; }
  @media (max-width: 767px) {
    .bg-skills h3 {
      font-size: 22px; } }

.bg-portfolio {
  background-image: url("../images/landspace.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  color: white; }
  .bg-portfolio .bg-front-portfolio {
    background: linear-gradient(0deg, rgba(1, 1, 1, 0.3), rgba(255, 255, 255, 0.1));
    padding: 100px 0;
    margin: 0; }
  .bg-portfolio h2 {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
  .bg-portfolio p {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
  .bg-portfolio img {
    margin-bottom: 25px; }
    .bg-portfolio img:hover {
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.9);
      transition: box-shadow 0.5s; }
  .bg-portfolio .img-animations .panel-default {
    border-radius: 0; }
    .bg-portfolio .img-animations .panel-default .panel-heading {
      font-size: 16px; }
  .bg-portfolio .btn-group-justified .btn-group .btn {
    width: 98%; }
  .bg-portfolio .btn-group-justified button {
    background-color: #15596e;
    color: white;
    font-size: 18px;
    font-weight: 300;
    border-radius: 0;
    border-color: white;
    outline: 0; }
    @media (max-width: 767px) {
      .bg-portfolio .btn-group-justified button {
        font-size: 10px; } }
    .bg-portfolio .btn-group-justified button:hover {
      color: #0C3542;
      border-color: #0C3542;
      background: none;
      transition: all 0.7s; }

.bg-scripts h2 {
  margin-bottom: 50px; }

.bg-scripts h3 {
  font-weight: 300; }
  @media (max-width: 767px) {
    .bg-scripts h3 {
      font-size: 22px; } }

.bg-scripts ul {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  list-style-type: none; }
  .bg-scripts ul li {
    position: relative;
    border-left: 1px solid grey;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: grey; }
    .bg-scripts ul li::before {
      content: '•';
      position: absolute;
      top: -8px;
      left: -6px;
      font-size: 32px;
      color: grey; }
    .bg-scripts ul li a {
      display: block;
      font-size: 16px;
      font-weight: 300;
      text-decoration: underline;
      color: #15596e; }
      .bg-scripts ul li a:hover {
        color: #0C3542; }
      @media (max-width: 767px) {
        .bg-scripts ul li a {
          font-size: 14px; } }

.bg-contact {
  background-image: url("../images/ultron_bot.jpg");
  background-attachment: fixed;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0; }
  @media (max-width: 1199px) {
    .bg-contact {
      background-size: auto 100%; } }
  .bg-contact .bg-front-contact {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    padding: 100px 0;
    margin: 0; }
  .bg-contact h2 {
    margin-bottom: 35px; }
  .bg-contact p, .bg-contact label {
    font-size: 18px;
    font-weight: 400; }
  .bg-contact .form-horizontal .form-group {
    margin-left: 0; }
  .bg-contact address strong {
    margin-bottom: 20px; }
  .bg-contact address div {
    margin-bottom: 5px; }
  .bg-contact .btn-primary {
    background: none;
    color: #15596e;
    font-size: 18px;
    border-radius: 0;
    border-color: #15596e;
    margin-top: 20px; }
    .bg-contact .btn-primary:hover, .bg-contact .btn-primary:active, .bg-contact .btn-primary:focus {
      color: white;
      background-color: #15596e;
      border-radius: 0;
      border-color: white;
      transition: all 0.7s; }

footer {
  background-color: #111;
  color: white; }
  footer i {
    color: white;
    font-size: 22px; }
    footer i:hover {
      font-size: 21px;
      transition: font-size 0.1s; }
  footer p {
    border-top: 1px solid #222;
    padding-top: 15px;
    font-size: 14px; }
  footer .bg-icon {
    margin: 15px 0;
    padding: 10px 0; }
  footer .icon-github:hover {
    color: #444;
    transition: color 0.1s; }
  footer .icon-bitbucket:hover {
    color: #093654;
    transition: color 0.1s; }
  footer .icon-facebook:hover {
    color: #3b5998;
    transition: color 0.1s; }
  footer .icon-youtube:hover {
    color: #C63619;
    transition: color 0.1s; }
  footer .icon-deviantart:hover {
    color: green;
    transition: color 0.1s; }
  footer .icon-cube:hover {
    color: #133783;
    transition: color 0.1s; }
